body {
  background: linear-gradient(#1a2933 60%, #1d225d 100%);
  margin: 0;         
  padding: 0;        
  height: 100vh;
}

.grid-container {
  display: grid;
  gap: 20px;
}

.grid-wrapper {
  display: flex;           
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 100vh;           /* Full viewport height */
  padding: 10px;           /* Add spacing around the grid */
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  min-width: 60px;
  min-height: 60px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 100%;
}

#start-game {
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
}